asgiref==3.9.1
Django==5.2.5
django-allauth==65.11.0
django-filter==25.1
djangorestframework==3.16.1
psycopg==3.2.9
psycopg-binary==3.2.9
setuptools==80.9.0
sqlparse==0.5.3
wheel==0.45.1
whitenoise==6.9.0
